<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
    <div class="summary">
        <p>Well-trained software engineer and developer with Computer Science degree and real-world work experience. Offer keen understanding of real-world business goals and how they apply to developing, rolling out, and supporting applications. Perform
            at equally high levels on individual projects or within large team environments with collaboration and shared responsibilities. Demonstrated experience with architecture, coding, database programming, and quality assurance efforts.</p>
    </div>
    <!--//summary-->
</section>
<!--//section-->
